@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
body {
  background-color: #FFFFFF;
  font-family: "IBM Plex Serif", serif;
}

.site_content {
  color: #000;
  font-family: "IBM Plex Serif", sans-serif;
}

#home_intro_title {
  font-size: 300%;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}

#home_intro_paragaph {
  font-size: 150%;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}

#about_paragraph {
  font-size: 150%;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}

/* begin nav bar code*/
.nav_bar {
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}


header a {
  font-family: "IBM Plex Serif", sans-serif;
  color: #000; /* color links in nav menu */
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  color: #FFFFFF;
  margin: 0;
  margin-right: 400px;
  padding: 0;
  list-style: none;
}

nav li {
  color: #FFFFFF;
  display: inline-block; /*using display instead of float left or float right lets you use stuff like text-align*/
  margin-left: 30px; /* space between links */
  padding-top: 25px;
  padding: 10px 0;

  position: relative; /* hover effect. The absolute (below) positioning is absolute relative to the window. Prevents long black line.  */
  /* Another way to put it: The position of the black bar is relative to the list items (the links) instead of the window. */
}

nav a {
  color: color: #FFFFFF;
  text-decoration: none; /* removes ugly default underline */
}

/*nav a:hover {
  color: #2D2D2D; changes color of links when hovering
}
*/
nav a::before { /* Hover effect :In my link, before the text, what do I have */
  content: '';
  display: block;
  height: 2px; /* thickness of bar */
  background-color: #FFA500;

  position: absolute;
  bottom: 0;
  width: 0%; /*Before you hover, the bar is there, but its invisible.*/

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%
}
/* end nav bar */

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_achievements_list {
  margin-left: 400px;
  margin-right: 400px;
}

.about_achievements_list_items {
  font-family: "IBM Plex Serif", sans-serif;
  padding-bottom: 20px;
  font-size: 120%;
}

button {
  position: absolute;
  margin-left: 1440px;
  top: 15px;
  border: none;
  background: none;
  font-size: 200%;
  cursor: pointer;
}
